@using CrowdFundingCore.Models
@model CrowdFundingCore.Models.Project


@{
    ViewData["Title"] = "EditProject";
}

<h2>Edit</h2>

<h4>Project</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditProject">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProjectId" />
            <div class="form-group">
                <label asp-for="ProjectTitle" class="control-label"></label>
                <input asp-for="ProjectTitle"  class="form-control" />
                <span asp-validation-for="ProjectTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectDescription" class="control-label"></label>
                <input asp-for="ProjectDescription" class="form-control" />
                <span asp-validation-for="ProjectDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectTargetAmount" class="control-label"></label>
                <input asp-for="ProjectTargetAmount" class="form-control" />
                <span asp-validation-for="ProjectTargetAmount" class="text-danger"></span>
            </div>

            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" asp-for="IsComplete" /> @Html.DisplayNameFor(model => model.IsComplete)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="ProjectTargetAmount" class="control-label"></label>
                <input asp-for="ProjectTargetAmount" class="form-control" />
                <span asp-validation-for="ProjectTargetAmount" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="EndingDate" class="control-label"></label>
                <input asp-for="EndingDate" class="form-control" />
                <span asp-validation-for="EndingDate" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="ProjectCategory" class="control-label"></label>
                <select asp-for="ProjectCategory" class="form-control" asp-items="ViewBag.ProjectCategory"></select>
                <span asp-validation-for="ProjectCategory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" onclick="doUpdateProject()" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="GetMyProjects">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}