@{
    ViewData["Title"] = "Admin Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Admin</h1>
    <p>Learn about <a href="https://www.qries.com/">
    <img alt="Qries" src="https://www.qries.com/images/banner_logo.png"
         width=150" height="70">
</a>.</p>
</div>
