@model Project
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Project Creator Page</h1>
<h1 align="center"> Εισαγωγή Project</h1>

<form>
    <table align="center">
        <tr><td>Name </td>  <td><input type="text" id="Name" name="Name">	</td>  </tr>
        <tr><td>Description	</td>  <td> <input type="text" id="Description" name="Description">	</td>  </tr>
        @*<tr><td>NeededAmount </td>  <td> <input type="text" id="NeededAmount" name="NeededAmount">	</td>  </tr>*@
        <div class="form-group">
            <select name="ProjectCategory" class="form-control">
                @{
                    var categories = Enum.GetValues(
                        typeof(CrowdFundingCH.Models.ProjectCategory))
                        .Cast<CrowdFundingCH.Models.ProjectCategory>();

                    foreach (var category in categories)
                    {
                        <option value="@category">@category</option>
                    }
                }
            </select>
        </div>
        <tr>
            <td>
                <button type="button" class="btn btn-primary js-submit-project">Go</button>

    </table>

    @*<form asp-controller="Project" asp-action="Index" method"post" class="form-horizontal" roles="form">
            <div class="form-group">
                <div class="row">
                    <div class="alert-danger" asp-validation-summary="ModelOnly"></div>
                    <div class="col-xs-12 col-sm-6" col-md-6 cold-lg-4>
                        <label asp-for="ProjectCategoryName" class="control-label"></label>
                        <select asp-for="ProjectCategoryId"
                                class="fore-control"
                                asp-items="@(new SelectList(ViewBag.ListofProjectCategory,"ProjectCategoryId", "ProjectCategoryName"))"></select>
                    </div>
                </div>
            </div>
            <div class="form-group"
             <div class="row">
                 <div class="col-xs-12 col-sn-6 col-lg-4">
                     <input id="Submit1" type="submit" value"submit" />
                 </div>
             </div>
        </div>
        </form>

    input type="button" onclick="submitToServer()"
                       value="Submit">*@

</form>

@*<div class="project-category">
    <h1>First, let’s get you set up.</h1>
    <div class="project-category-p"><p>Pick a project category to connect with a specific community. You can always update this later.</p></div>
    <form method="post" asp-controller="Projects" asp-action="ShortDescription">
        <div class="project-category-list"><select asp-for="Id" asp-items="@ViewBag.ProjectCategory"></select></div>
        <div class="project-category-a"><input type="submit" value="Next" /></div>
    </form>
    <div class="project-category-foo">
        To create a project, you're required to provide your location, age, national ID, banking and tax information, email, and mailing address. This information is necessary to prevent fraud, comply with the law, and — if your project is successful — to deliver funds. Please note: after launch, your ability to edit, hide, or delete a project is limited.
    </div>
</div>*@

<div id="responseDiv">  </div>