
@{
    ViewData["Title"] = "CreatePost";
}

<h1>Post view</h1>

<input type="text" class="form-control" placeholder="Description" id="PostExcerpt">
<input type="button" onclick="submitPostToServer()" value="Submit Post">