@{
    ViewData["Title"] = "Home Page";
}

    <div id="demo" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
        </ul>

        <!-- The slideshow -->
        <div class="carousel-inner img-fluid">
            <div class="carousel-item active">
                <img src="https://i.ibb.co/0ZGY8mL/image.jpg" alt="Los Angeles">
            </div>
            <div class="carousel-item">
                <img src="https://i.ibb.co/CB8XnNR/eirini.jpg" alt="Chicago">
            </div>
            <div class="carousel-item">
                <img src="https://yt3.ggpht.com/a/AATXAJw26upettObQqhBWPyX7HEmQ6AJZ9IK1aYIWQ=s900-c-k-c0xffffffff-no-rj-mo" alt="New York">
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>

    </div>