<!DOCTYPE html>
@inject Microsoft.AspNetCore.Identity.SignInManager<CrowdFundingCore.Models.MyUsers> signInManager;
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CrowdFundingMVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    @*libraries*@
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    <div class="navbar navbar-expand-md navbar-dark bg-dark mb-4" role="navigation">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Crowdfunding App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link text-white active" asp-area="" asp-controller="Project" asp-action="CreateProject">Create Project</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" asp-area="" asp-controller="Project" asp-action="GetAllProjects">View Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" asp-area="" asp-controller="Project" asp-action="GetMyProjects">My Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" asp-area="" asp-controller="Project" asp-action="GetPopularProjects">Popular Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" asp-area="" asp-controller="Project" asp-action="GetMyBackedProjects">My Backed Projects</a>
                </li>
                @if (signInManager.IsSignedIn(User) && User.IsInRole("Administrator"))
                {
                    <li class="nav-item"><a class="nav-link text-white" asp-area="" asp-controller="Admin" asp-action="Index">Admin</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Manage
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" asp-controller="Admin"
                               asp-action="ListUsers">Users</a>
                            <a class="dropdown-item" asp-controller="Admin"
                               asp-action="ListRoles">Roles</a>
                        </div>
                    </li>
                }
            </ul>
            <partial name="_LoginPartial.cshtml" />


            @*<input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">*@
            @*<a class="nav-link btn-warning" style="background-color:white;" asp-area="" asp-controller="User" asp-action="Dashboard">Dashboard</a>*@
            @*<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>*@
            <form class="form-inline my-2 my-lg-0">
                <button class="btn btn-warning my-2 my-sm-0"
                        asp-area="" asp-controller="User" asp-action="Dashboard">
                    Dashboard
                </button>
            </form>

        </div>
    </div>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!-- Footer -->
    <footer class="footer font-small blue">

        <!-- Copyright -->
        <div class="container text-center py-3">
            © 2020 Copyright:
            <a href="https://google.gr/"> Google.gr</a>
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
