@*model Microsoft.AspNet.Intentity.EntityFramework.IdentityUser*@
@{
    ViewData["Title"] = "AssignRoleToUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>AssignRoleToUser</h1>

@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.Label("Select Your User Type", new { @class = "col-md-2 control-label"})
        <div class="col-md-10">
            @Html.DropDownList("UserName")
        </div>
    </div>
    <input type="submit" value="Create Role" />
}