@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<h2>Available Roles</h2>
<section>
    <table class="table table-bordered table-hover">
        <tr>
            <th class="c">
                Role Name
             </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td class="c">
                    @item.Name
                </td>
            </tr>
        }
    </table>
</section>
