@model IEnumerable<CrowdFundingCore.Models.Pledge>
@{
    ViewData["Title"] = "Pledges by Proj Id";
}

<div class="text-center">
    <h1>Project Details</h1>
</div>



<div class="text-center">
    <h1>View all Projects</h1>
</div>

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="card" style="width: 18rem;">

                <img class="card-img-top" src="https://www.publichealthnotes.com/wp-content/uploads/2020/03/project-planning-header@2x.png" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text"> @Html.DisplayFor(modelItem => item.PledgePrice)</p>
                    <p class="card-text"> @Html.DisplayFor(modelItem => item.PledgeReward)</p>
                    <p class="card-text"> @Html.DisplayFor(modelItem => item.PledgeDescription)</p>
                   
                </div>
            </div>
        }
    </div>
</div>